---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
	<body>
		<nav>
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="/about"><li>About</li></a>
            <a href="/marvin"><li>Marvin</li></a>
            <a href="/blog"><li>Marvin</li></a>
        </ul>
    </nav>
		<h1>Astro</h1>
	</body>
</html>
