---
import TopBarLayout from "../layouts/topBarLayout.astro";
import BaseLayout from "../layouts/baseLayout.astro";
const pageTitle = 'Marvin Berrio'

---
<TopBarLayout />
<BaseLayout pageTitle ={pageTitle}>
<div>
    <h1>Biografia</h1>
</div>
<div>
    <h1>Imagen</h1>
</div>
<div>
    <h1>Proyectos</h1>
</div>
</BaseLayout>